NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=research_portal
DB_USER=your_username
DB_PASSWORD=your_password

# JWT
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'));"
JWT_SECRET=211f81f5dbd8c98cd9ff8d2a09e84a992297394d7f4b21b12b85314b992ef45f
JWT_EXPIRES_IN=7d

# Email (for verification/password reset)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

# Frontend URL
FRONTEND_URL=http://localhost:3001
